/src/musdb18
/text.wav
/text_300.wav
/weights2-improvement-01-0.4930-bigger.hdf5
/weights2-improvement-02-0.4642-bigger.hdf5
/weights2-improvement-03-0.4566-bigger.hdf5
/weights2-improvement-04-0.4478-bigger.hdf5
/weights2-improvement-05-0.4249-bigger.hdf5
/weights2-improvement-06-0.3992-bigger.hdf5
/weights2-improvement-07-0.3762-bigger.hdf5
/weights2-improvement-08-0.3305-bigger.hdf5
/weights2-improvement-09-0.2676-bigger.hdf5
/weights2-improvement-10-0.2347-bigger.hdf5
/weights2-improvement-11-0.1941-bigger.hdf5
/weights2-improvement-12-0.1812-bigger.hdf5
/weights2-improvement-13-0.1576-bigger.hdf5
/weights2-improvement-14-0.1355-bigger.hdf5
/weights2-improvement-15-0.1086-bigger.hdf5
/weights2-improvement-17-0.0971-bigger.hdf5
/weights2-improvement-19-0.0955-bigger.hdf5
/weights2-improvement-20-0.0901-bigger.hdf5
/weights2-improvement-21-0.0810-bigger.hdf5
/weights2-improvement-213-0.0312-bigger.hdf5
/weights2-improvement-226-0.0301-bigger.hdf5
/weights2-improvement-26-0.0720-bigger.hdf5
/weights2-improvement-27-0.0592-bigger.hdf5
/weights2-improvement-39-0.0587-bigger.hdf5
/weights2-improvement-41-0.0540-bigger.hdf5
/weights2-improvement-52-0.0505-bigger.hdf5
/weights2-improvement-68-0.0456-bigger.hdf5
/weights2-improvement-88-0.0427-bigger.hdf5
/weights2-improvement-89-0.0316-bigger.hdf5